.headersearch__dropdown .dropdown-toggle::after {
  content: none;
}
.headersearch__dropdown > .dropdown-menu {
  min-width: 24rem;
  height: 25rem;
  transform: translate(-3rem, 4.1rem) !important;
  overflow-x: hidden;
  overflow-y: auto;
}
.headersearch__dropdown .dropdown-menu .dropdown-item {
  font-size: 1.6rem;
  padding: 0 2rem;
}
.headersearch__dropdown .dropdown-menu .dropdown-item:hover {
  background-color: #4a9994;
}

.headersearch__dropdown .submenu {
  position: relative;
  border-radius: 0;
  background-color: rgba(var(--clr-white-rgb), 0.1);
  padding: 0;
  box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.1);
}

.headersearch__form input {
  height: 6rem;
  border: 2px solid var(--clr-accent);
  padding-inline-start: 8.4rem;
}

.boxpath__bg {
  height: 18rem;
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(var(--clr-accent-2-rgb), 0.06);
}

.boxpath__items {
  counter-reset: count;
  z-index: 2;
  transform: translateY(-7rem);
  margin-bottom: -7rem;
}

.boxpath {
  border-radius: 0.75rem;
  padding: 2rem 1rem;
  box-shadow: 0 0.6rem 1.5rem rgba(var(--clr-dark-rgb), 0.1);
}

.boxpath__number {
  position: relative;
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
  border-radius: 100%;
  text-align: center;
}

.boxpath__number::before {
  position: absolute;
  content: counter(count);
  counter-increment: count;
  color: var(--clr-white);
  font-size: 5rem;
  width: 100%;
  height: 100%;
  left: 0;
  transform: translateY(0.3rem);
  font-weight: 800;
  transition: all 0.2s linear;
}

.boxpath:hover .boxpath__number::before {
  transform: scale(1.1) translateY(0.1rem);
}
@media only screen and (min-width: 768px) {
  .boxpath__bg {
    height: 33rem;
  }
}

.boxpath__items > [class^="col"]:nth-child(1) .boxpath__number {
  background-color: #0e3d54;
}
.boxpath__items > [class^="col"]:nth-child(2) .boxpath__number {
  background-color: #58b6b0;
}
.boxpath__items > [class^="col"]:nth-child(3) .boxpath__number {
  background-color: #e49a02;
}
.boxpath__items > [class^="col"]:nth-child(4) .boxpath__number {
  background-color: #8d8a8a;
}
.boxpath__items > [class^="col"]:nth-child(5) .boxpath__number {
  background-color: #164963;
}

.boxpath .title {
  font-size: 2rem;
  font-weight: 700;
}

@media only screen and (min-width: 768px) {
  .boxpath .title {
    font-size: 2.5rem;
  }
  .boxpath {
    border-radius: 3rem;
    padding: 6rem 1rem;
  }

  .boxpath__items {
    transform: translateY(-12rem);
    margin-bottom: -12rem;
  }

  .boxpath__number {
    width: 8rem;
    height: 8rem;
  }

  .boxpath__number::before {
    font-size: 7rem;
    transform: translateY(0.1rem);
  }
  .boxpath:hover .boxpath__number::before {
    transform: scale(1.1) translateY(-0.3rem);
  }
}

.teachers__bg {
  width: 100%;
  z-index: 0;
  overflow: hidden;
  border-radius: 2rem;
}
.teachers__bg::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 18rem;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 2rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: saturation;
  background-image: url("../img/arabic.jpg");
  background-color: var(--clr-accent);
}

.teachers__bg img {
  height: 22rem;
  margin: 0 auto;
  width: 16rem !important;
  object-fit: contain;
  object-position: bottom;
}

.instructor-item .name {
  font-size: 2rem;
}

.instructor-item .title {
  width: 100%;
  height: 5rem;
  line-height: 5rem;
  border-radius: 2.5rem;
  background-color: rgba(var(--clr-accent-rgb), 0.08);
}

@media only screen and (min-width: 992px) {
  .teachers__bg {
    border-radius: 4rem;
  }
  .teachers__bg img {
    height: 30rem;
    width: auto !important;
  }
  .teachers__bg::before {
    height: 25rem;
    border-radius: 4rem;
  }
  .instructor-item .name {
    font-size: 2rem;
  }
}

.iconshapes .iconshapes__1 {
  left: 0;
  top: 0;
}
.iconshapes .iconshapes__2 {
  right: 5rem;
  top: 6rem;
}
.iconshapes2 .iconshapes__1 {
  left: 0;
  bottom: 0;
  border-radius: 0 0 0 5rem;
}
.iconshapes2 .iconshapes__2 {
  right: 0;
  top: 0;
  border-radius: 0 5rem 0 0;
}
.iconshapes3 .iconshapes__1 {
  left: 0;
  bottom: 0;
}
.iconshapes3 .iconshapes__2 {
  right: 0;
  top: 0;
}

.boxcourse__thu {
  z-index: 1;
  inset: 0;
  width: 100%;
  height: 26rem;
  border-radius: 2rem;
}

.boxcourse__content,
.boxcourse__content > div,
.boxcourse__thu {
  transition: all 0.2s linear;
}

.boxcourse:hover a {
  color: var(--clr-white);
}

.boxcourse:hover .text-dark-accent {
  color: var(--clr-accent-2) !important;
}
.boxcourse:hover .boxcourse__thu {
  height: 100%;
}
.boxcourse__blank {
  height: 26rem;
}
.boxcourse:hover .boxcourse__content {
  padding: 0 2.4rem;
  background: linear-gradient(0deg, #0d1b23 0%, transparent 100%);
  border-radius: 0 0 2rem 2rem;
}

@media only screen and (min-width: 992px) {
  .boxcourse__thu {
    border-radius: 4rem;
  }
  .boxcourse:hover .boxcourse__content {
    border-radius: 0 0 4rem 4rem;
  }
}
.boxcourse:hover .boxcourse__content > div {
  transform: translateY(-3rem);
}
.boxcourse__label,
.boxcourse__discount,
.boxcourse__content {
  z-index: 2;
}
.boxcourse__label,
.boxcourse__discount {
  top: 3rem;
}
.boxcourse__label {
  left: 3rem;
}
.boxcourse__discount {
  right: 3rem;
  background-color: var(--clr-danger);
}
.boxcourse__buttons .btn:last-child {
  width: 5rem;
  min-width: 5rem;
  height: 5rem;
  margin-inline-start: 1.3rem;
  background-color: rgba(var(--clr-accent-rgb), 0.1);
  border: 2px solid rgba(var(--clr-accent-rgb), 0.1);
  color: var(--clr-accent);
}

@media only screen and (max-width: 576px) {
  .container,
  .container-fluid,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    padding-left: calc(var(--bs-gutter-x) * 1.5);
    padding-right: calc(var(--bs-gutter-x) * 1.5);
  }
}
