.headersearch__dropdown .dropdown-toggle {
}
.headersearch__dropdown .dropdown-toggle::after {
  content: none;
}
.headersearch__dropdown .dropdown-menu {
  min-width: 24rem;
  height: 25rem;
  transform: translate(-3rem, 3.8rem) !important;
  overflow-x: hidden;
  overflow-y: auto;
}
.headersearch__dropdown .dropdown-menu .dropdown-item {
  font-size: 1.6rem;
}
.headersearch__dropdown .dropdown-menu .dropdown-item:hover {
  background-color: #4a9994;
}

.headersearch__form input {
  height: 6rem;
  border: 2px solid var(--clr-accent);
  padding-inline-start: 8.4rem;
}
