/* Font Faces */
@font-face {
  font-family: "GraphikArabic";
  src: url("../fonts/graphikarabic/GRAPHIKARABIC.OTF") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "GraphikArabic";
  src: url("../fonts/graphikarabic/GRAPHIKARABIC-SEMIBOLD.OTF")
    format("opentype");
  font-weight: 500;
}
@font-face {
  font-family: "GraphikArabic";
  src: url("../fonts/graphikarabic/GRAPHIKARABIC-MEDIUM.OTF") format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: "GraphikArabic";
  src: url("../fonts/graphikarabic/GRAPHIKARABIC-BOLD.OTF") format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: "GraphikArabic";
  src: url("../fonts/graphikarabic/GRAPHIKARABIC-BLACK.OTF") format("opentype");
  font-weight: 800;
}
/* /Font Faces */

/* Animations */
@keyframes shake {
  from {
    transform: translateX(0.5rem);
  }
  to {
    transform: translateX(0rem);
  }
}

@keyframes rotate {
  from {
    transform: rotate(-5deg);
  }
  to {
    transform: rotate(5deg);
  }
}

@keyframes bounce {
  from {
    transform: translateY(-0.5rem) scaleX(1);
  }
  to {
    transform: translateY(5rem) scaleX(1);
  }
}

@keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
/* /Animations */

/* Document */
html {
  font-size: 56%;
  direction: rtl;
}

@media (min-width: 576px) {
  html {
    font-size: 62.5%;
  }
}

body {
  font-family: "GraphikArabic", sans-serif;
  font-weight: 400;
  color: var(--text-black-color);
  font-size: 1.6rem;
  text-align: start;
}

body::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  opacity: 0.08;
  background-image: linear-gradient(to bottom, var(--clr-accent), transparent);
}

html,
body {
  height: 100%;
}
/* /Document */

/* General */
p {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "GraphikArabic", sans-serif;
  color: var(--color-black);
  margin-bottom: 0;
  font-weight: 700;
}

a {
  color: var(--clr-black);
  text-decoration: none;
  transition: all 0.5s ease;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

:focus,
:focus-within,
:focus-visible {
  outline: transparent;
}

.fw-black {
  font-weight: 800;
}

.fs-12 {
  font-size: 1.2rem;
}

.fs-14 {
  font-size: 1.4rem;
}

.fs-20 {
  font-size: 2rem;
}

.text-accent {
  color: var(--clr-accent);
}

.text-accent-2 {
  color: var(--clr-accent-2);
}

.text-dim {
  color: var(--clr-dim);
}

.text-white-70 {
  color: rgba(var(--clr-white-rgb), 0.7);
}

.text-dark-accent {
  color: var(--clr-dark);
}

.bg-dark-accent {
  background-color: var(--clr-dark);
}

.bg-accent {
  background-color: var(--clr-accent);
}

.bg-accent-2 {
  background-color: var(--clr-accent-2);
}
.bg-accent-2-light {
  background-color: rgba(var(--clr-accent-2-rgb), 0.05);
}

.bg-watermark {
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.bg-watermark::after {
  content: "";
  z-index: -1;
  position: absolute;
  left: -10rem;
  top: -22rem;
  width: 56rem;
  height: 80rem;
  pointer-events: none;
  background: no-repeat left / contain url("../img/auth.png");
}

.bg-accent-gradient {
  background-image: linear-gradient(
    to left,
    var(--clr-dark),
    var(--clr-accent)
  );
}

.rounded-40 {
  border-radius: 1.5rem;
}

.rounded-50 {
  border-radius: 2rem;
}

@media only screen and (min-width: 992px) {
  .rounded-40 {
    border-radius: 4rem;
  }

  .rounded-50 {
    border-radius: 5rem;
  }
}

.main-block {
  padding: 4rem;
  border-radius: 3rem;
  border: 1px solid var(--clr-border);
  background-color: var(--clr-white);
}

.vertical-divider {
  height: 1.5rem;
  width: 1px;
  background: var(--clr-black);
  border: none;
  display: list-item;
  margin: 0 1.5rem;
}
/* /General */

/* SVG STYLES */
svg {
  display: inline-block;
}

.svg-default {
  width: 2.4rem;
  height: 2.4rem;
  stroke: var(--clr-accent);
}
.svg-resize-15 {
  width: 1.5rem;
  height: 1.5rem;
}
.svg-resize-20 {
  width: 2rem;
  height: 2rem;
}
.svg-resize-24 {
  width: 2.4rem;
  height: 2.4rem;
}
.svg-resize-28 {
  width: 2.8rem;
  height: 2.8rem;
}
.svg-resize-32 {
  width: 3.2rem;
  height: 3.2rem;
}
.svg-resize-40 {
  width: 4rem;
  height: 4rem;
}
.svg-stroke-black {
  stroke: var(--clr-black) !important;
}
.svg-stroke-dim {
  stroke: var(--clr-dim) !important;
}
.svg-stroke-white {
  stroke: var(--clr-white) !important;
}
.svg-stroke-accent {
  stroke: var(--clr-accent) !important;
}
.svg-stroke-accent-2 {
  stroke: var(--clr-accent-2) !important;
}
.svg-stroke-danger {
  stroke: #fd1616 !important;
}
.svg-fill-black {
  fill: var(--clr-black) !important;
}
.svg-fill-dim {
  fill: var(--clr-dim) !important;
}
.svg-fill-white {
  fill: var(--clr-white) !important;
}
.svg-fill-accent {
  fill: var(--clr-accent) !important;
}
.svg-fill-accent-2 {
  fill: var(--clr-accent-2) !important;
}
.svg-fill-dark {
  fill: var(--clr-dark) !important;
}
/* /SVG STYLES */

/* TRANSFORMS */
.rotate-90 {
  transform: rotate(90deg);
}
.-rotate-90 {
  transform: rotate(-90deg);
}
/* /TRANSFORMS */

/* Buttons */
.btn {
  position: relative;
  z-index: 0;
  min-width: 12rem;
  height: 5rem;
  border-radius: 16.3rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  grid-gap: 1rem;
  font-size: 1.6rem;
  font-weight: 500;
  white-space: nowrap;
  transition: all 0.25s ease-in-out;
}

.btn::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  border-radius: 16.3rem;
}

.btn:hover {
  transform: translate(-1px, -1px);
  box-shadow: 2px 2px 3px rgba(var(--clr-black-rgb), 0.1);
}

.btn:hover::before {
  background-color: rgba(var(--clr-black-rgb), 0.05);
}

.btn svg {
  fill: currentColor;
}

/* .btn:hover svg {
  fill: currentColor;
} */

.btn:active {
  transform: translate(0);
  box-shadow: none !important;
}

.btn.btn-inline {
  min-width: 0;
  padding: 0;
  height: auto;
  border-radius: 0;
  white-space: nowrap;
}

.btn.btn-inline:hover {
  box-shadow: none;
}

.btn.btn-inline:hover::before {
  background-color: unset;
  border-color: unset;
}

.btn.btn-accent,
.btn.btn-accent:hover,
.btn.btn-accent:focus {
  color: var(--clr-white);
  border-color: var(--clr-accent);
  background-color: var(--clr-accent);
}

.btn.btn-accent2,
.btn.btn-accent2:hover,
.btn-accent2:focus {
  color: var(--clr-white);
  border-color: var(--clr-accent-2);
  background-color: var(--clr-accent-2);
}

.btn.btn-white {
  color: var(--clr-accent);
  border-color: var(--clr-white);
  background-color: var(--clr-white);
}

.btn.btn-white:hover,
.btn.btn-white:focus {
  color: var(--clr-accent);
  border-color: var(--clr-accent);
}

.btn.btn-accent-light {
  color: var(--clr-accent);
  border-color: rgba(var(--clr-accent-rgb), 0.03);
  background-color: rgba(var(--clr-accent-rgb), 0.05);
}

.btn.btn-accent-light:hover::before,
.btn.btn-accent-light:focus::before {
  background-color: rgba(var(--clr-accent-rgb), 0.1);
}

.btn.btn-accent-light:active {
  border-color: rgba(var(--clr-accent-rgb), 0.1);
  background-color: rgba(var(--clr-accent-rgb), 0.2);
}

.btn.btn-white-light {
  color: var(--clr-accent);
  border-color: rgba(var(--clr-white-rgb), 0.025);
  background-color: rgba(var(--clr-white-rgb), 0.1);
}

.btn.btn-white-light:hover::before,
.btn.btn-white-light:focus::before {
  background-color: rgba(var(--clr-white-rgb), 0.2);
}

.btn.btn-white-light:active {
  background-color: rgba(var(--clr-white-rgb), 0.3);
}

.btn.btn-accent2-light {
  color: var(--clr-accent-2);
  border-color: rgba(var(--clr-accent-2-rgb), 0.025);
  background-color: rgba(var(--clr-accent-2-rgb), 0.05);
}

.btn.btn-accent2-light:hover::before,
.btn.btn-accent2-light:focus::before {
  background-color: rgba(var(--clr-accent-2-rgb), 0.1);
}

.btn.btn-white-light:active {
  background-color: rgba(var(--clr-white-rgb), 0.2);
}

.btn.btn-dark,
.btn.btn-dark:hover,
.btn.btn-dark:focus {
  color: var(--clr-white);
  border-color: var(--clr-dark);
  background-color: var(--clr-dark);
}
.btn.btn-dark-outline {
  color: var(--clr-dark);
  border: 2px solid var(--clr-dark);
  background-color: var(--clr-white);
}
.btn.btn-dark-outline:hover,
.btn.btn-dark-outline:focus {
  color: var(--clr-white);
  background-color: var(--clr-dark);
}
.btn.btn-dark-outline .isax {
  color: var(--clr-dark);
}
.btn.btn-white-outline {
  color: var(--clr-white);
  border: 2px solid var(--clr-white);
  background-color: var(--clr-dark);
}
.btn.btn-white-outline:hover,
.btn.btn-white-outline:focus {
  color: var(--clr-dark);
  background-color: var(--clr-white);
}

.anim {
  margin: 0;
}

.btn-shake:hover .anim {
  animation: shake 0.7s ease-in-out 3 both alternate;
}
/* /Buttons */

.logo {
  display: inline-block;
  width: 12rem;
  height: 6rem;
}

@media only screen and (min-width: 576px) {
  .logo {
    width: 14rem;
    height: 7.5rem;
  }
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Auth */
.auth-header {
  padding: 3.3rem 0;
  border-bottom: 1px solid var(--clr-border);
}

.auth-wrapper {
  padding: 7rem 0 14rem;
}

@media only screen and (min-width: 576px) {
  .auth-wrapper {
    padding: 9rem 0 10rem;
  }
}

.auth-block {
  max-width: 53.6rem;
  width: 100%;
  margin: 0 auto;
  background-color: var(--clr-white);
  border-radius: 4rem;
  border: 1px solid var(--clr-border);
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.auth-head {
  padding: 4rem;
  font-size: 2.5rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-bottom: 1px solid var(--clr-border);
}

.auth-head span {
  display: inline-block;
  font-weight: 400;
}

.auth-body {
  padding: 4rem;
}

@media only screen and(min-width: 600px) {
  .auth-head,
  .auth-body {
    padding: 4rem 6rem;
  }
}
/* /Auth */

/* Form */
.select2-container {
  width: 100% !important;
  z-index: 1000;
}
.select2-container--default .select2-results > .select2-results__options {
  max-height: 35rem;
}

.select2-container--open .select2-dropdown--below {
  overflow: hidden;
}

.select2-container--default .select2-results > .select2-results__options,
.select2-container--open .select2-dropdown--below {
  border-bottom-left-radius: 2.5rem;
  border-bottom-right-radius: 2.5rem;
}

.select2 .select2-selection .select2-selection__rendered {
  line-height: 5rem;
}

.select2-selection__arrow {
  height: 5rem !important;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  left: 2rem !important;
}

.select2-search--dropdown {
  padding: 1rem 2rem;
}

.select2-dropdown {
  border-color: var(--clr-accent) !important;
}
.select2-search--dropdown .select2-search__field {
  border-color: var(--clr-border) !important;
}

.select2-results__option {
  padding: 0.75rem 2rem;
}

.select2-container--default
  .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: var(--clr-accent);
}

.select2-selection__placeholder {
  font-weight: 400;
}

.select2-container--default.select2-container--open.select2-container--below
  .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--below
  .select2-selection--multiple {
  border-color: var(--clr-accent);
}

.select2-container--default
  .select2-selection--single
  .select2-selection__arrow
  b {
  border-style: solid;
  border-width: 0.2rem 0.2rem 0 0;
  border-color: var(--clr-accent);
  width: 0.7rem;
  height: 0.5em;
  transform: rotate(135deg);
  vertical-align: top;
  top: 45%;
  border-radius: 0.15rem;
  margin-top: 0;
  transition: transform 0.25s linear;
}
.select2-container--default.select2-container--open
  .select2-selection--single
  .select2-selection__arrow
  b {
  border-color: var(--clr-accent);
  border-width: 0.2rem 0.2rem 0 0;
  transform: rotate(-45deg);
}

.no-icon .select2 .select2-selection {
  padding: 0 3rem;
}

.select2 .select2-selection,
.form-control {
  height: 5rem;
  font-size: 1.3rem;
  border-radius: 2.5rem;
  padding: 0 5.4rem 0 2rem;
  font-weight: 700;
  border-color: var(--clr-border);
  color: var(--clr-accent) !important;
}

.form-control:focus {
  border-color: var(--clr-accent);
  color: var(--clr-accent) !important;
}

textarea.form-control {
  min-height: 12rem;
  padding-top: 2rem;
}

.form-group {
  margin-bottom: 2rem;
}

.form-label {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 1.4rem;
}

.form-group-icon {
  position: relative;
  z-index: 0;
}

.form-group-icon .isax,
.form-group-icon .form-control-icon {
  position: absolute;
  z-index: 100000;
  top: 1.25rem;
  inset-inline-start: 2rem;
}

button.form-control-icon {
  display: grid;
  place-items: center;
  fill: var(--clr-accent);
  stroke: none;
  inset-inline-end: 2rem;
  inset-inline-start: unset !important;
}

input {
  color: var(--clr-accent) !important;
}

::placeholder {
  color: var(--clr-dim);
  font-weight: 400;
}

[type="email"],
[type="number"],
[type="tel"],
[type="url"] {
  direction: rtl;
}

.form-check {
  display: inline-flex;
  align-items: flex-end;
  grid-gap: 0.6rem;
}

.form-check .form-check-input {
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
}

.form-check-input:checked[type="checkbox"] {
  background-color: var(--clr-accent);
}

.form-check-input:checked[type="radio"] {
  border: none;
  background-color: var(--clr-white);
  --bs-form-check-bg-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cpath d='M10,0A10,10,0,1,0,20,10,10.016,10.016,0,0,0,10,0Zm4.78,7.7L9.11,13.37a.748.748,0,0,1-1.06,0L5.22,10.54A.75.75,0,1,1,6.28,9.48l2.3,2.3,5.14-5.14A.75.75,0,0,1,14.78,7.7Z' fill='%231b89b6'/%3E%3C/svg%3E");
}

.imgfile {
  position: relative;
  display: grid;
  place-items: center;
  width: 13rem;
  height: 11rem;
  border-radius: 2.5rem;
  border-color: rgba(var(--clr-accent-rgb), 0.03);
  background-color: rgba(var(--clr-accent-rgb), 0.03);
}

.imgfile input[type="file"] {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
}
.imgfile img {
  width: 13rem;
  height: 11rem;
  object-fit: cover;
  border-radius: 2.5rem;
}

.file-upload {
  cursor: pointer;
  font-size: 1.4rem;
  line-height: 5rem;
  padding-inline-start: 5.4rem;
  padding-inline-end: 2rem;
  color: var(--clr-dim);
  height: 5rem;
  width: 100%;
  border-radius: 2.5rem;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='25' ry='25' stroke='%23EEE' stroke-width='1' stroke-dasharray='8%2c 8' stroke-dashoffset='63' stroke-linecap='round'/%3e%3c/svg%3e");
  background-color: rgba(var(--clr-accent-rgb), 0.05);
}

.form-group-icon input[type="file"] {
  position: absolute;
  z-index: 10;
  inset: 0;
  width: 100%;
  height: 100%;
  border-radius: 2.5rem;
  opacity: 0;
  cursor: pointer;
}
.iti {
  width: 100%;
}

.iti__country-list {
  right: 0;
  left: auto;
}

.iti__country {
  display: flex;
  align-items: center;
}

.iti__dial-code {
  direction: ltr;
  margin-inline-end: auto;
}

.iti--allow-dropdown .iti__flag-container,
.iti--separate-dial-code .iti__flag-container {
  right: 0;
  left: auto;
}

.iti--allow-dropdown input,
.iti--allow-dropdown input[type="tel"],
.iti--allow-dropdown input[type="text"],
.iti--separate-dial-code input,
.iti--separate-dial-code input[type="tel"],
.iti--separate-dial-code input[type="text"] {
  padding-inline-start: 12.8rem !important;
  padding-inline-end: 2rem !important;
}

.iti--separate-dial-code .iti__selected-flag {
  height: 2rem;
  background-color: transparent;
  padding: 0 2rem 0 1.4rem;
  border-inline-end: 1px solid var(--clr-border);
}

.iti__flag-container {
  display: grid;
  place-items: center;
}
.iti--separate-dial-code .iti__selected-dial-code {
  direction: ltr;
  font-weight: 700;
  font-size: 1.4rem;
  margin: 0 0.6rem 0;
}

.isax {
  font-size: 2.4rem;
  color: var(--clr-accent);
}

/* /Form */

.agreement .agree {
  margin-top: 2.5rem;
}

/* dropdown */
.dropdown-menu {
  --bs-dropdown-zindex: 1050;
  font-size: 1.2rem;
  border-radius: 2rem;
  border: none;
  box-shadow: 0 0.3rem 3rem rgba(191, 191, 191, 0.16);
}

.dropdown-menu[data-bs-popper] {
  right: auto;
  left: 0;
}

.dropdown-menu .title {
  font-size: 1.4rem;
}

.dropdown-toggle::after {
  vertical-align: middle;
  width: 0;
  height: 0;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-top: 0.5rem solid var(--clr-accent-2);
}

@media all and (min-width: 992px) {
  .mega-drop .dropdown-menu.submenu {
    display: none;
    position: absolute;
    right: 90%;
    top: 0;
    border-inline-start: 1px solid var(--clr-border);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    height: 100%;
  }
  .mega-drop .dropdown-menu.submenu .dropdown-item {
    padding: 1rem 3rem;
  }
  .nav-item .submenu-left {
    left: 100%;
    right: auto;
  }
  .dropdown-menu > li:hover > .submenu {
    display: block;
  }
}
/* ============ desktop view .end// ============ */

/* ============ small devices ============ */
@media (max-width: 991px) {
  .dropdown-menu .dropdown-menu {
    margin: 0 0.7rem 0.5rem 0.7rem;
  }
}
/* ============ small devices .end// ============ */

.mega-drop .dropdown-menu {
  padding: 2rem 0;
  right: 0;
  left: auto;
  top: 170%;
}

.mega-drop .dropdown-menu .dropdown-item {
  padding: 1rem 4rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.mega-drop .dropdown-menu .dropdown-item:hover {
  color: var(--clr-accent);
  background-color: transparent;
}
.mega-drop .dropdown-item.toggle:hover::after {
  border-color: var(--clr-accent);
}

.mega-drop .dropdown-item.toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mega-drop .dropdown-item.toggle::after {
  content: "";
  border-style: solid;
  border-width: 0.2rem 0.2rem 0 0;
  border-color: var(--clr-black);
  width: 0.8rem;
  height: 0.7em;
  transform: rotate(-135deg);
  vertical-align: top;
  margin-top: 0.5rem;
  margin-inline-start: 6.5rem;
  border-radius: 0.15rem;
}

/* /dropdown */

/* Navbar */
.navbar {
  transition: all 0.2s linear;
}

.navbar.fixed-top {
  padding: 0.5rem 0 !important;
}

.navbar.fixed-top .logo {
  width: 12rem;
  height: 5rem;
}

#search {
  max-width: 44.4rem;
  width: 100%;
  margin-inline-start: auto;
}

#search .form-control {
  padding-inline-start: 2rem;
}

#search svg {
  stroke: var(--clr-dim);
}

#search .btn {
  min-width: auto;
  left: 2rem;
  top: 50%;
  transform: translateY(-50%);
}

.lang {
  color: var(--clr-accent-2);
  border-color: rgba(var(--clr-accent-2-rgb), 0.1);
  background-color: rgba(var(--clr-accent-2-rgb), 0.1);
}
.btn.lang:hover,
.btn.lang:focus {
  color: var(--clr-accent-2);
  border-color: rgba(var(--clr-accent-2-rgb), 0.25);
  background-color: rgba(var(--clr-accent-2-rgb), 0.25);
}
.auth-user .btn,
.nav-btn {
  padding: 0;
  min-width: auto;
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  display: grid;
  place-items: center;
}

.nav-btn::before {
  /* .auth-user .btn::before { */
  content: none !important;
}

@media only screen and (min-width: 1200px) {
  .auth-user .btn {
    min-width: 13rem;
    border-radius: 16.3rem;
  }
}

@media only screen and (min-width: 576px) {
  .auth-user .btn,
  .btn.nav-btn,
  .btn.nav-btn:hover,
  .btn.nav-btn:focus {
    width: 5rem;
    height: 5rem;
  }
}

.offcanvas {
  max-width: 65%;
}

.notifications.dropdown-menu {
  width: 40rem;
}

.notifications-menu {
  padding: 0 2rem;
}

.notifications-menu li {
  border-bottom: 1px solid var(--clr-border);
  padding: 2rem 0 2.4rem;
}

.notifications-menu li:last-child {
  border: none;
}

.notifications-menu li .options {
  width: 1.3rem;
  height: 1.3rem;
}

#cart .notification {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 100%;
  background-color: var(--clr-black);
  display: grid;
  place-items: center;
  color: var(--clr-white);
  font-weight: 400;
  font-size: 1.2rem;
  position: absolute;
  top: -0.5rem;
  left: -0.5rem;
}

.navbar-nav {
  grid-gap: 2.4rem;
}

/* .navbar-nav .nav-item.dropdown .dropdown-toggle::after {
  content: none;
} */

.navbar-nav .nav-link {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--clr-black);
  /* margin: 0 1.5rem; */
}

.navbar-nav .nav-link.active {
  color: var(--clr-accent);
}

.offcanvas .nav-link {
  transition: all 0.25s linear;
}

.offcanvas .nav-link:hover,
.offcanvas .nav-link:focus {
  font-weight: 700;
  transform: translateX(-1rem);
  color: var(--clr-accent);
}

#sidebar .navbar-nav .dropdown-menu {
  box-shadow: none;
  position: relative !important;
  border-radius: 0;
  padding-top: 0;
  padding-bottom: 1rem;
  background-color: transparent;
  border-bottom: 1px solid var(--clr-light);
  margin-bottom: 1rem !important;
}

#sidebar .navbar-nav .dropdown-menu .dropdown-item {
  font-size: 1.4rem;
  padding: 1rem 0;
}

.auth-user .btn {
  padding: 0;
  outline: 0;
}

.auth-user .btn:hover {
  box-shadow: none;
}

#logout {
  cursor: pointer;
}

#logout:hover button {
  color: var(--clr-danger);
}

/* .auth-user .btn img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 100%;
  object-fit: cover;
}

.auth-user .btn:hover img {
  box-shadow: 2px 2px 3px rgba(var(--clr-black-rgb), 0.1);
} */

/* @media only screen and (min-width: 576px) {
  .auth-user .btn img {
    width: 5rem;
    height: 5rem;
  }
} */

.auth-user .dropdown-menu {
  top: 120%;
  right: -200%;
  width: 25rem;
  border-radius: 2rem;
  border: none;
  box-shadow: 0 0.3rem 3rem rgba(191, 191, 191, 0.16);
}
@media only screen and (min-width: 576px) {
  .auth-user .dropdown-menu {
    right: -100%;
  }
}

@media only screen and (min-width: 1200px) {
  .auth-user .dropdown-menu {
    right: 0;
    left: auto;
  }
}

.auth-user .dropdown-menu .text,
.auth-user .dropdown-menu .dropdown-item {
  font-size: 1.2rem !important;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.auth-user .dropdown-menu .content {
  padding: 2rem 2rem 0.8rem;
}

.auth-user .dropdown-menu .user img {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 100%;
  object-fit: cover;
}

.auth-user .dropdown-menu .menu {
  padding: 0;
}

.auth-user .dropdown-menu .menu .dropdown-item {
  padding: 1.2rem 0;
  display: flex;
  align-items: center;
  grid-gap: 1rem;
  border-bottom: 1px solid var(--clr-border);
}

.auth-user .dropdown-menu .menu li:last-child .dropdown-item {
  border: none !important;
}

.auth-user .dropdown-menu .menu .dropdown-item span {
  transition: transform 0.2s linear;
}

.auth-user .dropdown-menu .menu .dropdown-item:hover span,
.auth-user .dropdown-menu .menu .dropdown-item:focus span {
  transform: translateX(-1rem);
}

#mycourses {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

#mycourses:hover {
  transform: translate(-1px, calc(-50% - 1px));
}
#mycourses:active {
  transform: translate(0, -50%);
}
/* /Navbar */

/* Home Carousel */
.carousel-controls {
  display: flex;
  align-items: center;
  grid-gap: 1rem;
  justify-content: center;
}

@media only screen and (min-width: 992px) {
  .carousel-controls {
    justify-content: flex-start;
  }
}

.carousel-control-next,
.carousel-control-prev {
  position: relative;
  inset: unset;
  opacity: 1;
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  background-color: rgba(var(--clr-dark-rgb), 0.08);
}

.carousel-control-next:hover,
.carousel-control-prev:focus,
.carousel-control-next:hover,
.carousel-control-prev:focus {
  background-color: rgba(var(--clr-dark-rgb), 0.16);
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='6' height='12' viewBox='0 0 6 12'%3E%3Cpath d='M16,12l-6,6V6Z' transform='translate(-10 -6)' fill='%230e3c54'/%3E%3C/svg%3E%0A");
}
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='6' height='12' viewBox='0 0 6 12'%3E%3Cpath d='M10,12l6,6V6Z' transform='translate(-10 -6)' fill='%230e3c54'/%3E%3C/svg%3E%0A");
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 0.6rem;
  height: 1.2rem;
}

.carousel-item img {
  /* width: 50rem; */
  /* height: 50rem; */
  object-fit: contain;
}

.carousel-caption {
  position: relative;
  inset: unset;
  padding: 0;
}

.carousel-caption .content {
  width: 100%;
  text-align: start;
}

.carousel-caption .content .caption-title {
  font-size: 4.5rem;
  font-weight: 700;
}

.carousel-caption .content .caption-text {
  font-size: 1.6rem;
  margin: 3.5rem 0;
  line-height: 3rem;
}

@media only screen and (min-width: 992px) {
  .carousel-caption .content {
    max-width: 46rem;
  }
}
/* /Home Carousel */

/* block section */
.block-sec {
  padding: 4rem 0;
}

@media only screen and (min-width: 992px) {
  .block-sec {
    padding: 8rem 0;
  }
}

.block-sec .titling {
  padding-bottom: 6.5rem;
  text-align: center;
}

.block-sec .min-title {
  font-size: 1.6rem;
  color: var(--clr-accent-2);
  font-weight: 700;
  margin-bottom: 2.5rem;
}

.block-sec .sec-title {
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 1.2rem;
}

@media only screen and (min-width: 350px) {
  .block-sec .sec-title {
    font-size: 3rem;
  }
}
@media only screen and (min-width: 768px) {
  .block-sec .sec-title {
    font-size: 4.5rem;
  }
}
/* /block section */

/* Owl-carousels */
.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 3rem;
}

.owl-theme .owl-dots .owl-dot span {
  width: 1.3rem;
  height: 0.4rem;
  border-radius: 9rem;
  background-color: rgba(var(--clr-accent-2-rgb), 0.1);
  margin: 0.15rem;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background-color: var(--clr-accent-2);
}

.owl-theme .owl-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 1rem;
  margin-top: 4rem;
}

.owl-theme .owl-nav [class*="owl-"] {
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  display: grid;
  place-items: center;
  margin: 0;
  background-color: rgba(var(--clr-dark-rgb), 0.08) !important;
}

.course-carousel .owl-nav [class*="owl-"],
.instructors-carousel .owl-nav [class*="owl-"] {
  background-color: rgba(var(--clr-accent-2-rgb), 0.1) !important;
}
/* /Owl-carousels */

/* Features items */
.diamond-img {
  pointer-events: none;
  width: 7.5rem;
  height: 8.5rem;
  object-fit: contain;
}

.diamond-img.big {
  width: 45rem;
  height: 50rem;
  left: -5rem;
  top: -3px;
}

.features-item {
  padding: 1.8rem;
}
.features-img {
  width: 6rem;
  height: 6rem;
  object-fit: contain;
}
/* /Features items */

/* featured-carousel */
.featured-item {
  font-size: 1.4rem;
  padding: 2rem;
  padding-bottom: 2.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 3rem;
  border: 1px solid rgba(var(--clr-accent-rgb), 0.1);
  background-color: rgba(var(--clr-white-rgb), 0.05);
}

.featured-item figure {
  width: 100%;
  height: 17.5rem;
  border-radius: 3rem;
  background-color: var(--clr-light);
  display: grid;
  place-items: center;
}

.featured-item figure img {
  width: 4.5rem;
  height: 4.5rem;
  object-fit: contain;
  transition: all 0.2s ease-in-out;
}

.featured-item:hover figure img {
  transform: scale(1.2);
}

.featured-item .title {
  font-size: 1.6rem;
  font-weight: 700;
  margin-top: 2.4rem;
  margin-bottom: 1.8rem;
}
/* /featured-carousel */

/* stats */
.bg-stats {
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.bg-stats::after {
  content: "";
  z-index: -1;
  position: absolute;
  left: -12rem;
  top: 0;
  width: 46rem;
  height: 57rem;
  pointer-events: none;
  background: no-repeat left / contain url("../img/stats.png");
  animation: bounce 3s infinite alternate;
}

.stats {
  padding: 4rem 0;
  color: var(--clr-white);
  display: grid;
}

.stats-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 2rem;
  text-align: center;
  border-bottom: 1px solid rgba(var(--clr-white-rgb), 0.3);
}

@media only screen and (min-width: 576px) {
  .stats {
    padding: 0;
    grid-template-columns: repeat(3, minmax(10rem, 1fr));
  }

  .stats-item {
    padding: 8rem 2rem;
    border-inline-end: 1px solid rgba(var(--clr-white-rgb), 0.3);
  }
}

.stats-item:last-child {
  border: none;
}

.stats-item svg {
  width: 5rem;
  height: 5rem;
  margin-bottom: 2.4rem;
  transition: all 0.35s ease-in-out;
}

.stats-item:hover svg {
  transform: scale(1.2);
}

.stats i {
  font-size: 4rem;
  margin-bottom: 2.4rem;
  transition: all 0.2s ease-in-out;
}

.stats-item:hover i {
  color: var(--clr-accent);
  transform: scale(1.2);
}

.stats-item .number {
  font-size: 4rem;
  font-weight: 700;
  direction: ltr;
  margin-bottom: 2rem;
}

.stats-item .title {
  font-size: 1.6rem;
  font-weight: 700;
}

/* /stats */

/* Testimonials-carousel */
.testimonials-card {
  padding: 2.6rem 4.3rem;
  border-radius: 3.5rem;
  border: 1px solid var(--clr-border);
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.testimonials-card::after {
  content: "";
  z-index: -1;
  position: absolute;
  left: 0;
  top: -7rem;
  width: 25rem;
  height: 36rem;
  pointer-events: none;
  background: no-repeat left / contain url("../img/auth.png");
  transition: all 0.5s ease-in-out;
}

.testimonials-card:hover::after {
  opacity: 0.5;
}

.testimonials-card figure {
  width: 6rem;
  height: 6rem;
  margin-bottom: 2rem;
}

.testimonials-card figure svg {
  width: 100%;
  height: 100%;
  fill: var(--clr-accent);
  transition: all 0.75s ease-in-out;
}

.testimonials-card:hover figure svg {
  transform: rotate(360deg) scale(1.1);
}

.testimonials-card .title {
  font-size: 1.8rem;
  margin-bottom: 2.6rem;
  transition: all 0.5s ease-in-out;
}
.testimonials-card:hover .title {
  color: var(--clr-accent);
}

.testimonials-card p {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.testimonials-card .user img {
  width: 4.3rem;
  height: 4.3rem;
  object-fit: cover;
  border-radius: 100%;
  margin-inline-end: 1.2rem;
  background-color: var(--clr-light);
}

.testimonials-card .user .name {
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 0.25rem;
}
.testimonials-card .user .user-title {
  font-size: 1.2rem;
}
/* /Testimonials-carousel */

/* trusted-carousel */
.trusted-carousel img {
  width: 16rem;
  height: 12rem;
  object-fit: contain;
  opacity: 0.4;
}

.trusted-carousel .owl-item.active img {
  opacity: 1;
}
/* /trusted-carousel */

/* page header */
.page_header {
  display: grid;
  place-items: center;
  min-height: 17rem;
  height: 100%;
  position: relative;
  z-index: 0;
  background-image: linear-gradient(
    to left,
    var(--clr-dark),
    var(--clr-accent)
  );
  overflow: hidden;
}

.page_header .title {
  font-size: 2.6rem;
  font-weight: 700;
  color: var(--clr-white);
}

@media only screen and (min-width: 576px) {
  .page_header {
    min-height: 25rem;
  }

  .page_header .title {
    font-size: 3.5rem;
  }
}

.page_header #search {
  max-width: 72rem;
  margin: 5.4rem auto 0;
}

.page_header #search .form-control {
  border: none;
  color: var(--clr-white);
  background-color: rgba(var(--clr-white-rgb), 0.2);
}
.page_header #search .form-control::placeholder {
  color: var(--clr-white);
}

.page_header #search svg {
  stroke: var(--clr-white);
}

.page-content > * {
  font-size: 1.6rem;
}

.page-content img {
  width: 100%;
  object-fit: contain;
  border-radius: 3rem;
}

.content-wrapper {
  padding: 5rem;
  border-radius: 3rem;
  background-color: var(--clr-white);
}
/* /page header */

/* more btn */
.more-btn {
  margin-top: 4rem;
  text-align: center;
}

.more-btn .btn {
  max-width: 26rem;
  width: 100%;
  margin: 0 auto;
}
/* /more btn */

/* Course */
.course-card {
  padding: 2.5rem;
  border-radius: 3rem;
  border: 1px solid var(--clr-border);
  background-color: rgba(var(--clr-white), 0.05);
}

.course-card .img,
.course-card .img img {
  height: 22rem;
  width: 100%;
  object-fit: cover;
  border-radius: 3rem;
  margin-bottom: 2.5rem;
  background-color: var(--clr-light);
}

.course-card .course-card-content {
  padding-bottom: 2.4rem;
}

.course-card .card-title {
  display: block;
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--clr-black);
  margin-bottom: 1.7rem;
  margin-top: 2rem;
  line-height: 3rem;
  height: 6rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media only screen and (min-width: 1200px) {
  .course-card .card-title {
    margin-inline-end: 6rem;
  }
}

.course-card .instructor {
  font-size: 1.4rem;
  color: var(--clr-accent-2);
}

.course-card .card-footer {
  padding-top: 2rem;
  font-size: 1.8rem;
}

.course-card .card-footer .btn {
  min-width: 16rem;
  position: relative;
  justify-content: start;
  padding-inline-start: 2rem;
}

.course-card .card-footer svg {
  width: 4rem;
  height: 4rem;
  fill: var(--clr-accent);
  transform: translateX(-0.2rem);
}

.btn-redirect {
  min-width: 16rem;
  padding: 0.5rem 1.5rem;
}

.btn-redirect svg {
  width: 4rem;
  height: 4rem;
  fill: var(--clr-accent);
  transform: translateX(-1rem);
  transition: transform 0.25s ease-in-out;
}

/* /Course */

/* Course Category */
.title-25,
.category-title {
  font-size: 2rem;
}

@media only screen and (min-width: 576px) {
  .title-25,
  .category-title {
    font-size: 2.5rem;
  }
}

.sortby .select2 .select2-selection {
  padding: 0 2rem;
}

.sortby
  .select2-container--default
  .select2-selection--single
  .select2-selection__placeholder {
  color: var(--clr-black);
  font-weight: 700;
}
.sortby
  .select2-container--default.select2-container--open.select2-container--below
  .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--below
  .select2-selection--multiple {
  border-color: var(--clr-border);
}

.sortby
  .select2-container--default.select2-container--open.select2-container--below
  .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--below
  .select2-selection--multiple {
  border-radius: 2.5rem;
}

.sortby-dropdown {
  width: auto !important;
  border: none;
  padding: 2rem;
  border-radius: 3rem !important;
  box-shadow: 0 0.3rem 3rem rgba(191, 191, 191, 0.16);
}

.sortby-dropdown .select2-results__option {
  font-size: 1.4rem;
  padding: 1.5rem 0 1.5rem 3rem;
  border-bottom: 1px solid var(--clr-border);
  background-color: transparent !important;
}

.sortby-dropdown
  .select2-results__option--highlighted.select2-results__option--selectable {
  font-weight: 700 !important;
  color: var(--clr-black) !important;
}

.sortby-dropdown .select2-results__option:first-child {
  padding-top: 0;
}

.sortby-dropdown .select2-results__option:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

.filters {
  padding: 4rem;
  overflow-y: scroll;
  max-width: 100%;
}

@media only screen and (min-width: 992px) {
  .filters.offcanvas {
    padding: 4rem;
    margin-inline-end: 2rem;
    position: relative;
    visibility: visible;
    overflow: auto;
    height: 100%;
    border: none;
    transform: none;
    border-radius: 4rem;
  }
}

.filter-block {
  margin-bottom: 4rem;
}
.filter-block:last-child {
  margin-bottom: 0;
}

.filter-block .filter-title {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 2.5rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--clr-border);
}

.filter-block .filter-list {
  display: flex;
  flex-direction: column;
  grid-gap: 2rem;
}

.filter-block .filter-list :checked ~ label {
  font-weight: 700;
}

.course-card-search {
  border-radius: 3rem;
  padding: 2.5rem;
  background-color: var(--clr-white);
  border: 1px solid var(--clr-border);
  display: grid;
  grid-gap: 3.3rem;
  margin-bottom: 2rem;
}

.course-card-search img {
  width: 100%;
  min-height: 20rem;
  height: 100%;
  object-fit: cover;
  border-radius: 3rem;
}

.course-card-search .card-title {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--clr-black);
  margin: 2.5rem 0;
  line-height: 3rem;
}

.course-card-search p {
  font-size: 1.4rem;
  margin-bottom: 2.5rem;
}
.course-card-search .info .item {
  text-align: center;
  padding: 0 1rem;
  border-bottom: 0;
  border-inline-end: 1px solid var(--clr-border);
}

.course-card-search .info .item:first-child {
  padding-inline-start: 0;
}
.course-card-search .info .item:last-child {
  border-inline-end: none;
  padding-inline-end: 0;
}

@media only screen and (min-width: 768px) {
  .course-card-search {
    grid-template-columns: 26rem 1fr;
  }
}
@media only screen and (min-width: 992px) {
  .course-card-search .info .item {
    padding: 0 0.5rem;
  }
}
@media only screen and (min-width: 1200px) {
  .course-card-search .info .item {
    padding: 0 2.4rem;
  }
}

.course-card-search .price {
  font-size: 1.8rem;
  margin-top: 2.5rem;
}
/* /Course Category */

/* Course page */
.course-header.page_header::after {
  transform: none;
  bottom: -12rem;
  top: unset;
}

.course-header {
  padding-top: 7rem;
  padding-bottom: 4rem;
}

.course-header .title {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.75;
  max-width: 65rem;
  width: 100%;
}

.course-header .header-max-w {
  max-width: 65rem;
  width: 100%;
}

.course-header .actions {
  display: flex;
  align-items: center;
  margin-top: 4rem;
}

.course-header .actions form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.course-header .actions form,
.course-header .actions .btn {
  min-width: 0;
  padding: 0;
  color: var(--clr-white);
  border-radius: 0;
  position: relative;
  flex-grow: 1;
}

@media only screen and (min-width: 992px) {
  .course-header .actions form,
  .course-header .actions .btn {
    flex-grow: 0;
  }
}

.course-header .actions .vertical-divider {
  background-color: rgba(var(--clr-white-rgb), 0.4);
}

.course-enroll-card {
  position: relative;
  transform: translateY(-33rem);
  max-width: 35rem;
  margin-inline-start: auto;
  border-radius: 3rem;
  padding: 2.5rem;
  background-color: var(--clr-white);
  border: 1px solid var(--clr-border);
}

.course-img {
  width: 100%;
  height: 23rem;
  border-radius: 3rem;
  object-fit: cover;
  margin-bottom: 3rem;
  background-color: rgba(var(--clr-white-rgb), 0.1);
}

.course-enroll-card .price {
  font-size: 2.5rem;
  padding-bottom: 2.6rem;
  border-bottom: 1px solid var(--clr-border);
  margin-bottom: 1.8rem;
}

.enroll-header .course-enroll-card {
  position: static;
  transform: none;
  max-width: none;
  margin: 0;
  border-radius: 0;
  padding: 0;
  background: none;
  border: none;
}

.enroll-header .course-enroll-card li,
.enroll-header .course-enroll-card li span {
  color: var(--clr-white) !important;
}

.enroll-header .course-img {
  height: 35rem;
}

.enroll-header .course-enroll-card .price {
  color: var(--clr-white);
  border: none;
}

.enroll-header .course-enroll-card .btn {
  color: var(--clr-accent);
  background-color: var(--clr-white);
  border-color: var(--clr-white);
}
.enroll-header .course-enroll-card .btn svg {
  stroke: var(--clr-accent) !important;
}

.enroll-header .course-enroll-card .info-list li::before {
  background-color: var(--clr-white);
}

.info-list {
  display: flex;
  flex-direction: column;
  grid-gap: 2rem;
}

.info-list li {
  display: flex;
  align-items: flex-start;
  grid-gap: 1rem;
}

.info-list li::before {
  content: "";
  margin-top: 0.75rem;
  flex-shrink: 0;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 100%;
  background-color: var(--clr-accent);
}

.course-enroll-card .info-list {
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.course-enroll-card .tags {
  grid-gap: 0.5rem;
}

.course-enroll-card .tags .tag {
  height: 2.5rem;
  color: var(--clr-accent-2);
  background-color: rgba(var(--clr-accent-2-rgb), 0.15);
  margin-bottom: 1.8rem;
}

.course-page-sec {
  padding: 5rem 0;
}

.course-content-block {
  margin-bottom: 3rem;
  font-size: 1.6rem;
}
.course-content-block .block-title {
  font-size: 2.2rem;
  margin-bottom: 3rem;
}

.course-content-block .block-box {
  padding: 4rem;
  line-height: 2.6rem;
  border-radius: 3rem;
  background-color: var(--clr-white);
  border: 1px solid var(--clr-border);
}

.course-content-block .block-box .box-title {
  font-size: 1.8rem;
  font-weight: 700;
}

.course-content-block .btn[type="submit"] {
  min-width: 16.8rem;
}

.course-content-block .testimonial-item img {
  margin-inline-end: 2rem;
}

.vertical-line-break {
  width: 1px;
  height: 2.2rem;
  margin: 0 2.2rem;
  border-top: 0;
  border-inline-end: 1px solid var(--clr-border);
}

.course-content-block .instructor .img,
.course-content-block .instructor img {
  width: 15rem;
  height: 15rem;
  display: inline-block;
  border-radius: 100%;
  object-fit: cover;
  background-color: rgba(var(--clr-accent-rgb), 0.05);
}

.course-content-block .instructor .name {
  font-size: 1.8rem;
  margin-bottom: 2.8rem;
  transition: all 0.25s linear;
}

.course-content-block .instructor .name:hover,
.course-content-block .instructor .name:focus {
  font-weight: 700;
  color: var(--clr-accent);
}

.course-content-block .total-rating {
  width: 10rem;
  height: 10rem;
  border-radius: 3rem;
  background-image: linear-gradient(
    to left,
    var(--clr-accent),
    var(--clr-accent-2)
  );
  color: var(--clr-white);
  display: grid;
  place-items: center;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1.4rem;
}

.course-content-block .block-box .table td {
  vertical-align: middle;
  padding: 0.75rem 0;
}

.progress {
  height: 1.6rem;
  border-radius: 7.5rem;
  background-color: var(--clr-light);
}
.progress.accent-2 .progress-bar {
  background-color: var(--clr-accent-2);
}

.progress-bar {
  margin: 0.3rem;
  border-radius: 7.5rem;
  background-color: var(--clr-accent);
}

.table-hover > tbody > tr:hover > * {
  --bs-table-accent-bg: var(--clr-light);
}

.nav-tabs {
  padding-bottom: 5rem;
}

.nav-tabs .nav-link {
  font-size: 1.4rem;
  padding: 1.4rem 3rem;
  color: var(--clr-dim);
  border-radius: 16rem;
}
.nav-tabs .nav-link.active {
  font-weight: 700;
  color: var(--clr-white);
  background-color: var(--clr-accent-2);
}

.activity-item {
  display: flex;
  align-items: center;
  padding: 2.7rem;
  border-bottom: 1px solid var(--clr-border);
}

.activity-item:last-child {
  border-bottom: 0;
}

.activity-item.answer:first-of-type {
  padding-top: 0;
}

.activity-item.answer:last-child {
  padding-bottom: 0;
}

.download-item {
  display: flex;
  align-items: center;
  padding: 4rem 0;
  border-bottom: 1px solid var(--clr-border);
}

.download-item:first-child {
  padding-top: 0;
}

.download-item:last-child {
  padding-bottom: 0;
  border-bottom: 0;
}

.avatar-60 {
  width: 6rem;
  height: 6rem;
  border-radius: 100%;
  object-fit: cover;
  background-color: var(--clr-light);
}

.tag {
  font-size: 1.2rem;
  border-radius: 2rem;
  font-weight: 400;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 3rem;
  min-width: 7rem;
}

.tag-accent-light {
  color: var(--clr-accent);
  background-color: rgba(var(--clr-accent-rgb), 0.05);
}

.modal-content {
  padding: 4rem;
  border-radius: 3rem;
  border: none;
}

.modal-content .btn {
  min-width: 16.8rem;
}

.btn-close {
  width: 1.4rem;
  height: 1.4rem;
  font-size: 1.4rem;
}

.answer-head {
  padding: 4rem;
  font-size: 1.4;
  font-weight: 700;
  color: var(--clr-black);
  text-align: center;
  display: grid;
  place-items: center;
  margin-bottom: 1.8rem;
  border-radius: 3rem;
  border-color: rgba(var(--clr-accent-rgb), 0.03);
  background-color: rgba(var(--clr-accent-rgb), 0.05);
}

.social-share .social-button {
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  margin-inline-end: 1rem;
  display: grid;
  place-items: center;
  background-color: var(--clr-accent);
  transition: all 0.2s ease-in-out;
}

.social-share .social-button:hover {
  transform: translateY(-0.5rem);
}

.social-share .social-button .i,
.social-share .social-button .fa-brands {
  color: var(--clr-white);
  font-size: 2rem;
}

.content-collapse {
  border-radius: 3rem;
  margin-bottom: 2rem;
}

.content-collapse:last-child {
  margin-bottom: 0 !important;
}

.content-collapse .head {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  cursor: pointer;
}

.content-collapse .content {
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: 1px solid var(--clr-border);
}

.content-collapse .content > a {
  transition: all 0.25s ease-in-out;
}

.content-collapse .content > a:hover {
  font-weight: 700;
  background-color: rgba(var(--clr-accent-rgb), 0.02);
}

.content-collapse .content > a:last-child {
  margin-bottom: 0 !important;
}
/* /Course page */

/* Exam page */
.form-step {
  padding-top: 0.5rem;
  display: grid;
  place-items: center;
  color: var(--clr-accent-2);
  font-weight: 700;
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  background-color: rgba(var(--clr-accent-2-rgb), 0.05);
  margin-bottom: 2rem;
}

.exam-q {
  font-size: 1.6rem;
  margin-bottom: 3rem;
}

.exam-q-content {
  padding: 3rem;
}

.exam .form-check-input:checked[type="radio"] {
  background-color: var(--clr-white);
  position: relative;
  z-index: 0;
}

.exam .form-check-input:checked[type="radio"] {
  border: 2px solid var(--clr-accent-2);
  background-color: var(--clr-white);
  --bs-form-check-bg-image: none;
}

.exam .form-check-input:checked[type="radio"]::after {
  content: "";
  display: inline-block;
  transform: translate(-0.2rem, -0.3rem);
  width: 75%;
  height: 75%;
  border-radius: 100%;
  margin: auto;
  background-color: var(--clr-accent-2);
}

@media only screen and (min-width: 768px) {
  .exam .form-check-input:checked[type="radio"]::after {
    transform: translate(-0.2rem, -0.2rem);
  }
}
/* /Exam page */

/* Cart | Checkout */
.cart-item {
  display: flex;
  align-items: flex-start;
  padding: 2.5rem;
  border-radius: 3rem;
  border: 1px solid var(--clr-border);
  background-color: var(--clr-white);
  margin-bottom: 2rem;
}

.cart-item img {
  width: 17rem;
  min-height: 14.5rem;
  border-radius: 3rem;
  object-fit: cover;
  margin-inline-end: 2rem;
  background-color: var(--clr-light);
}

.cart-item .content {
  display: flex;
  flex-direction: column;
  grid-gap: 2.5rem;
}

.cart-item .btn-accent-light {
  min-width: auto;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 100%;
  display: grid;
  place-items: center;
  background-color: rgba(27, 137, 182, 0.05);
  border: 1px solid rgba(0, 100, 255, 0.08);
}

.checkout-card {
  border-radius: 3rem;
  border: 1px solid var(--clr-border);
  background-color: var(--clr-white);
}

.checkout-card .title {
  padding: 3rem;
  border-bottom: 1px solid var(--clr-border);
}

.checkout-card .content {
  padding: 3.5rem 3rem;
  font-size: 1.4rem;
}

.checkout-card .content ul {
  display: flex;
  flex-direction: column;
  grid-gap: 2rem;
  padding-bottom: 2.5rem;
}

.checkout-card .collapse .btn {
  min-width: 9rem;
  height: 4rem;
  position: absolute;
  top: 50%;
  left: 0.5rem;
  transform: translateY(-50%);
}

.checkout-card.brief .head {
  padding: 2.5rem;
  display: grid;
  grid-gap: 2rem;
  border-bottom: 1px solid var(--clr-border);
}

.checkout-card.brief .cart-item {
  border: none;
  border-radius: 0;
  padding: 0;
  margin-bottom: 0;
}

.checkout-card.brief .cart-item img {
  width: 14.3rem;
  min-height: 12.2rem;
}

.checkout-card.brief .cart-item .content {
  padding: 0;
}

.checkout-card.brief .cart-item .subtitle,
.checkout-card.brief .cart-item .actions {
  display: none !important;
}

.payment {
  margin-top: 2.4rem;
  border-radius: 3rem;
  border: 1px solid var(--clr-border);
  background-color: var(--clr-white);
}

.payment .payment-item {
  padding: 3rem;
}

.payment-item .form-check-label img {
  height: 2.3rem;
  width: auto;
  object-fit: contain;
}

.payment-item .select2 .select2-selection {
  padding: 0 3rem;
}

.transfer-info {
  font-size: 1.2rem;
  padding: 3rem;
  border-radius: 3rem;
  background-color: rgba(var(--clr-accent-rgb), 0.03);
  margin-bottom: 4rem;
}

.transfer-info figure {
  display: grid;
  place-items: center;
  width: 10rem;
  height: 10rem;
  border-radius: 2rem;
  background-color: var(--clr-white);
  margin-inline-end: 2rem;
}
.transfer-info figure img {
  width: 80%;
  margin: auto;
  object-fit: contain;
}
/* /Cart | Checkout */

/* Account */
.fav-remove {
  position: absolute;
  top: 5rem;
  right: 5rem;
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  display: grid;
  place-items: center;
  border: none;
  background-color: rgba(var(--clr-black-rgb), 0.5);
  transition: all 0.25s ease-in-out;
}

.fav-remove:hover,
.fav-remove:focus {
  background-color: rgba(var(--clr-black-rgb), 0.75);
  box-shadow: 2px 2px 0.5rem rgba(var(--clr-black-rgb), 0.5);
}

.payment-table table th {
  white-space: nowrap;
  font-size: 1.4rem;
  text-align: center;
  padding: 3rem 2rem;
  border: 0;
  background-color: rgba(var(--clr-accent-rgb), 0.05);
}
.payment-table table th:first-child {
  text-align: start;
  max-width: 28rem;
  width: 100%;
  padding-inline-start: 4rem;
  border-top-right-radius: 4rem;
  border-bottom-right-radius: 4rem;
}
.payment-table table th:last-child {
  border-top-left-radius: 4rem;
  border-bottom-left-radius: 4rem;
}
.payment-table table td {
  white-space: nowrap;
  font-size: 1.4rem;
  text-align: center;
  padding: 3rem 2rem;
  vertical-align: middle;
}
.payment-table table tbody tr td:first-child {
  white-space: normal;
  padding-inline-start: 4rem;
  max-width: 28rem;
  width: 100%;
  text-align: start;
}
.payment-table table tbody tr:first-child td {
  border-top: 0;
}
.payment-table table tbody tr:last-child td {
  border-bottom: 0;
}

.payment-table table tbody td img {
  width: 8rem;
  height: 7.5rem;
  border-radius: 2rem;
  object-fit: cover;
}

.profile-pic {
  width: 12rem;
  height: 12rem;
  border-radius: 100%;
  margin: 0 auto;
}

.profile-pic img,
.profile-pic input,
.profile-pic label {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  object-fit: cover;
}

.profile-pic input,
.profile-pic label {
  position: absolute;
  inset: 0;
  z-index: 1;
}

.profile-pic label {
  cursor: pointer;
  display: grid;
  place-items: center;
  background-image: linear-gradient(
    to right,
    rgba(var(--clr-accent-rgb), 0.2),
    rgba(var(--clr-accent-2-rgb), 0.2)
  );
}
/* /Account */

/* Support */
#supportTabs .nav-link {
  font-weight: 700;
  min-width: 16.8rem;
  color: var(--clr-accent-2);
  background-color: rgba(var(--clr-accent-2-rgb), 0.05);
}

#supportTabs .nav-link.active {
  color: var(--clr-white);
  background-color: var(--clr-accent-2);
}

.support-collapse {
  padding: 0 !important;
  margin-bottom: 2rem;
}

.support-collapse[aria-expanded="false"] {
  border-color: transparent;
}
.support-collapse[aria-expanded="true"] {
  border-color: var(--clr-border);
  border-top-color: transparent;
}

.support-collapse[aria-expanded="false"] .btn {
  background-color: rgba(var(--clr-accent-rgb), 0.05);
}

.support-collapse[aria-expanded="true"] .btn {
  color: var(--clr-white) !important;
  background-color: var(--clr-accent-2) !important;
}

.support-collapse[aria-expanded="false"] .btn svg {
  transition: all 0.25s ease-in-out;
}

.support-collapse[aria-expanded="true"] .btn svg {
  transition: all 0.25s ease-in-out;
  stroke: var(--clr-white) !important;
  transform: rotate(180deg);
}

.support-item {
  padding: 3.5rem 4rem;
  border: none;
  background-color: rgba(var(--clr-accent-rgb), 0.05);
  margin-bottom: 2rem;
  transition: all 0.5s ease-in-out;
}

.support-item:hover {
  color: var(--clr-white);
  background-color: rgba(var(--clr-accent-rgb), 1);
}
.support-item:hover .text-dim {
  color: rgba(var(--clr-white-rgb), 0.5) !important;
}

.support-item:hover figure {
  background-color: rgba(var(--clr-white-rgb), 0.2) !important;
}
.support-item:hover .chevron {
  stroke: var(--clr-white) !important;
}

.support-item figure {
  width: 6rem;
  height: 6rem;
  border-radius: 100%;
  display: grid;
  place-items: center;
}

.support-item:nth-child(odd) figure {
  background-color: var(--clr-accent);
}

.support-item:nth-child(even) figure {
  background-color: var(--clr-accent-2);
}

.support-item:nth-child(odd) .chevron {
  stroke: var(--clr-accent);
}

.support-item:nth-child(even) .chevron {
  stroke: var(--clr-accent-2);
}

.support-item .chevron {
  transition: all 0.25s ease-in-out;
  transform: rotate(90deg);
}
/* /Support */

/* Contact */
.contact-item {
  border-radius: 3rem;
  border: 1px solid var(--clr-border);
  background-color: var(--clr-white);
  color: var(--clr-black);
  font-weight: 700;
  font-size: 2rem;
}

.contact-item figure {
  width: 7rem;
  height: 7rem;
  border-radius: 2.5rem;
  display: grid;
  place-items: center;
  margin-inline-end: 2rem;
  background-color: var(--clr-accent-2);
}
/* /Contact */

/* Instructor page */
.instructor-header img {
  width: 19rem;
  height: 19rem;
  border-radius: 100%;
  object-fit: cover;
  background-color: rgba(var(--clr-white-rgb), 0.2);
}

.instructor-header .tag {
  font-size: 1.2rem;
  color: var(--clr-white);
  background-color: rgba(var(--clr-white-rgb), 0.2);
}

.instructor-header .insructor-social {
  width: 100%;
}

@media only screen and (min-width: 576px) {
  .instructor-header .insructor-social {
    width: auto;
  }
}
.instructor-header .insructor-social .fa-brands {
  font-size: 2rem;
  color: var(--clr-white);
}

/* /Instructor page */

/* Books Carousel Section */
.books-item {
  grid-gap: 2rem;
  padding: 3rem;
  border-radius: 2rem;
  background-color: rgba(var(--clr-white-rgb), 0.1);
}

.books-page .books-item {
  border: 1px solid rgba(var(--clr-accent-rgb), 0.2);
  transition: all 0.25s ease-in-out;
}
.books-page .books-item:hover {
  transform: translateY(-1rem);
}

@media only screen and (min-width: 992px) {
  .books-item {
    padding: 4rem 3rem;
    border-radius: 4rem;
  }
}

.books-carousel .books-thumbnail {
  height: 8rem;
  width: auto;
  object-fit: contain;
  transition: all 0.35s linear;
}

.books-item:hover .books-thumbnail {
  transform: translateY(-1rem) rotateY(180deg);
}

.books-carousel .owl-nav [class*="owl-"] {
  background-color: var(--clr-accent-2) !important;
}

img.lines {
  width: 19rem;
  height: 8.5rem;
  object-fit: contain;
  position: absolute;
  z-index: -1;
}
img.lines:first-of-type {
  top: 0;
  right: 0;
}
img.lines:last-of-type {
  bottom: 0;
  left: 0;
}
/* /Books Carousel Section */

/* blog */
.blog-card {
  height: 30rem;
  border-radius: 2rem;
}

.blog-card::before {
  content: "";
  position: absolute;
  z-index: 1;
  inset: 0;
  opacity: 0.8;
  border-radius: 2rem;
  background-image: linear-gradient(to top, #03151e, transparent);
}

.blog-card .blog-img {
  border-radius: 2rem;
}

.blog-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2rem;
  background-color: var(--clr-light);
  transition: all 0.3s linear;
}

@media only screen and (min-width: 992px) {
  .blog-card {
    height: 38rem;
  }

  .blog-card,
  .blog-card::before,
  .blog-card .blog-img,
  .blog-card img {
    border-radius: 4rem;
  }
}

.blog-card:hover img {
  transform: scale(1.4);
}

.blog-card .card-content {
  grid-gap: 2.4rem;
  bottom: 0;
  padding: 4rem;
  z-index: 1;
}

.blog-card .card-content .card-title {
  font-size: 2.5rem;
  line-height: 3rem;
}

.blog-content {
  font-size: 1.6rem;
  line-height: 3rem;
}

.blog-content img {
  width: 100%;
  height: auto;
  /* height: 25rem; */
  object-fit: cover;
  border-radius: 3rem;
}

/* @media only screen and (min-width: 576px) {
  .blog-content img {
    height: 55rem;
  }
} */

.blog-content .blog-title {
  font-size: 3.5rem;
  margin-bottom: 4rem;
}

.blog-card .time {
  padding: 1rem 1.5rem;
  color: var(--clr-white);
  border-radius: 2.3rem;
  background-color: var(--clr-accent);
}

/* /blog */

/* Books */
.books-collapse {
  border: 2px solid var(--clr-accent);
  border-radius: 4rem;
  background-color: var(--clr-white);
  margin-bottom: 2rem;
}

.books-head {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;
  padding: 1.5rem 3rem;
  font-weight: 700;
  color: var(--clr-accent);
  background-color: var(--clr-white);
  border: none;
  border-radius: 4rem;
  font-size: 1.8rem;
}

.books-table .table a:hover {
  color: var(--clr-accent);
}

.book-card {
  transition: all 0.25s ease-in-out;
}

.book-card:hover {
  transform: translateY(-1rem);
}

.book-card img {
  height: 25rem;
}
/* Books */

/* Footer */
footer::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  opacity: 0.08;
  background-image: linear-gradient(to top, var(--clr-aceent), transparent);
}

.social-link {
  flex-shrink: 0;
  display: grid;
  place-items: center;
  color: var(--clr-dark);
  width: 3.5rem;
  height: 3.5rem;
  margin: 0.45rem;
  border-radius: 100%;
  background-color: rgba(var(--clr-white-rgb), 0.4);
  transition: all 0.35s ease-in-out;
}
.social-link:hover,
.social-link:focus {
  background-color: rgba(var(--clr-white-rgb), 1);
}

.footer-link {
  display: inline-block;
  transition: all 0.2s ease-in-out;
}

.footer-link:hover,
.footer-link:focus {
  color: var(--clr-accent);
  transform: translateX(-1rem);
}

@media only screen and (min-width: 992px) {
  .footerbottom {
    height: 14rem;
  }

  .footerbottom::before,
  .footerbottom::after {
    position: absolute;
    content: "";
    z-index: -1;
    width: 100%;
    bottom: 0;
  }

  .footerbottom::before {
    width: 50%;
    height: 14rem;
    border-radius: 0 7rem 0 0;
    left: 0;
    background-color: var(--clr-accent);
  }
  .footerbottom::after {
    width: 60%;
    height: 7rem;
    border-radius: 3.5rem 0 0 3.5rem;
    right: 0;
    background-color: var(--clr-dark);
  }

  .sharesocial {
    position: relative;
    padding: 0 3rem;
    margin: 0 -0.45rem;
  }

  .sharesocial::before,
  .sharesocial::after {
    position: absolute;
    content: "";
    width: 2rem;
    height: 1px;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--clr-white);
  }

  .sharesocial::before {
    right: 0;
  }

  .sharesocial::after {
    left: 0;
  }
}

@media only screen and (min-width: 1200px) {
  .sharesocial {
    padding: 0 7rem;
    margin: 0 -0.45rem;
  }

  .sharesocial::before,
  .sharesocial::after {
    width: 5rem;
  }
}

.payment-img {
  height: 2.8rem;
  width: auto;
  object-fit: contain;
}

#whatsapp-btn {
  z-index: 10;
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  color: var(--clr-white);
  background-color: #25d366;
  inset-block-end: 3rem;
  inset-inline-start: 3rem;
  font-size: 3rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* /Footer */

/* Custom */
.jq-star {
  transform: scaleX(-1);
}
/* /Custom */

.job-card {
  padding: 3rem 5rem;
  border-radius: 4rem;
  border: 1px solid var(--clr-border);
}

.job-desc-title {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.job-desc-list-item {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.job-desc-list-item::before {
  content: "";
  position: relative;
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  background-color: var(--clr-accent);
}
